<div class="">
<ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="city-tab" data-toggle="tab" href="#city" role="tab" aria-controls="city" aria-selected="true">Cities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="level-tab" data-toggle="tab" href="#level" role="tab" aria-controls="level" aria-selected="false">Levels</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="role-tab" data-toggle="tab" href="#role" role="tab" aria-controls="role" aria-selected="false">Roles</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="city" role="tabpanel" aria-labelledby="city-tab">

  <table class="table table-hover  table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">City</th>
      <th scope="col">People</th>
    </tr>
  </thead>
  <tbody *ngFor="let city of cities; let i = index">
    <tr *ngIf="city.count">
      <th scope="row">{{i+1}}</th>
      <td>{{city.name}}</td>
      <td>{{city.count}}</td>
    </tr>
  </tbody>
</table>

  </div>
  <div class="tab-pane fade" id="level" role="tabpanel" aria-labelledby="level-tab">

  <table class="table table-hover  table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Level</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tr-newbee">
      <th scope="row">1</th>
      <td>Newbee</td>
      <td>{{dataService.stats.newbee}}</td>
    </tr>
        <tr class="tr-padawan">
      <th scope="row">2</th>
      <td>Padawan</td>
      <td>{{dataService.stats.padawan}}</td>
    </tr>
        <tr class="tr-guru">
      <th scope="row">3</th>
      <td>Guru</td>
      <td>{{dataService.stats.guru}}</td>
    </tr>
        <tr class="tr-jedi">
      <th scope="row">4</th>
      <td>Jedi</td>
      <td>{{dataService.stats.jedi}}</td>
    </tr>
  </tbody>
</table>

  </div>
    <div class="tab-pane fade" id="role" role="tabpanel" aria-labelledby="role-tab">

  <table class="table table-hover  table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Role</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>PE</td>
      <td>{{dataService.stats.newbee}}</td>
    </tr>
        <tr>
      <th scope="row">2</th>
      <td>TR\RR</td>
      <td>{{dataService.stats.padawan}}</td>
    </tr>
        <tr>
      <th scope="row">3</th>
      <td>Chat</td>
      <td>{{dataService.stats.guru}}</td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>Other</td>
      <td>{{dataService.stats.jedi}}</td>
    </tr>
  </tbody>
</table>

  </div>
</div>
</div>